.src-image {
    display: none;
}

.card {
    overflow: hidden;
    position: relative;
    border: 1px solid #CCC;
    border-radius: 8px;
    text-align: center;
    padding: 0;
    background-color: #222;/*COLOR DELETED : TOP : rgb(136, 172, 217); BOT : #284c79*/
    color: white;
    display: inline-block;
    width: 230px;
    margin: 5px 50px;
}

.card .header-bg {
    /* This stretches the canvas across the entire hero unit */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    border-bottom: 1px #FFF solid;
    /* This positions the canvas under the text */
    z-index: 1;
    background-color: dimgrey;
}
.card .avatar {
    position: relative;
    margin-top: 55px;
    z-index: 100;
}

.card .avatar img {
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid white;
}

.content {
    font-weight: bold;
}

.card-desc {
    color: darkgray;
    margin: 8px 0;
    font-weight: bold;
}

.center {
    text-align: center;
}

/*.active>a {*/
    /*color: black !important;*/
    /*background-color: white !important;*/
/*}*/