<div class="row" id="menu">
    <div class="panel panel-primary">
        <div class="panel-heading">Game menu</div>
        <div class="panel-body">
            <div class="row">
                <button type="button" class="btn btn-success btn-block btn-lg" ng-click="play()"> PLAY </button>
            </div>
            <br>
            <div class="row">
                <button type="button" class="btn btn-danger btn-block" ng-click="restart()"> RESTART </button>
            </div>
            <br>
            <div class="row">
                <button type="button" class="btn btn-primary" ng-click="toggleSound()"><i class="fa fa-lg" ng-class="sound ? 'fa-volume-up' : 'fa-volume-off'"></i></button>
            </div>
        </div>
    </div>
</div>