<nav class="navbar navbar-default">
    <h2 class="title nav-center" ng-click="goTo()">PifPafPouf</h2>
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="brand" href="."><img src="images/small.png"></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li ng-class="getClass('home')" ng-show="email_log === 'Login'"><a href="home"><i class="fa fa-address-book-o fa-lg" aria-hidden="true"></i> <span>Home</span></a></li>
            <li ng-class="getClass('')" ng-show="email_log !== 'Login'">
                <a href="/  ">
                    <span>Game</span>
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="hidden-xs" ng-class="getClass('options')" ng-show="email_log !== 'Login'"><a href="options"><i class="fa fa-sliders fa-lg" aria-hidden="true"></i> <span></span></a></li>
            <li ng-class="getClass('login')"><a href="login" ng-show="email_log === 'Login'">Login</a></li>
            <li><a ng-click="disconnect()" ng-show="email_log !== 'Login'" class="disconnect"> {{email_log}} <i class="fa fa-sign-out fa-lg"></i></a></li>
        </ul>
    </div>
</nav>